MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=dGyDD...
MPESA_CONSUMER_SECRET=lUf3z...
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb27...
MPESA_CALLBACK_URL=https://webhook.site/...
MPESA_INITIATOR_NAME=testapi
MPESA_INITIATOR_PASSWORD=Safaricom123!!